{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %}Wildcat | Settings{% endblock %}
{% block content %}
<div class="w-1/4 sm:w-11/12 md:w-11/12 mx-auto my-60 flex flex-col gap-8 p-5 bg-con-l dark:bg-con-d rounded-lg">
    <h1 class="text-3xl text-center">Change password</h1>
    <div class="grid gap-4">
    <div class="grid grid-cols-12 gap-0 w-full ml-4 sm:ml-9 md:ml-10">
        <div class="col-span-1 sm:col-span-3 bg-form-l dark:bg-form-d autofill:bg-form-l dark:autofill:bg-form-d rounded-l-full absolute">
            <svg xmlns="http://www.w3.org/2000/svg"
                 fill="none"
                 viewBox="0 0 24 24"
                 stroke-width="1.5"
                 stroke="currentColor"
                 class="w-6 h-6 my-2 ml-2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 10.5V6.75a4.5 4.5 0 119 0v3.75M3.75 21.75h10.5a2.25 2.25 0 002.25-2.25v-6.75a2.25 2.25 0 00-2.25-2.25H3.75a2.25 2.25 0 00-2.25 2.25v6.75a2.25 2.25 0 002.25 2.25z" />
            </svg>
        </div>
        <div class="col-span-11 sm:col-span-9">
            <input type="password" class="w-full pl-9 py-2 bg-form-l dark:bg-form-d autofill:bg-form-l dark:autofill:bg-form-d rounded-full border-none focus:ring-0" placeholder="New password">
        </div>
    </div>
    <div class="grid grid-cols-12 gap-0 w-full ml-4 sm:ml-9 md:ml-10">
        <div class="col-span-1 sm:col-span-3 bg-form-l dark:bg-form-d autofill:bg-form-l dark:autofill:bg-form-d rounded-l-full absolute">
            <svg xmlns="http://www.w3.org/2000/svg"
                 fill="none"
                 viewBox="0 0 24 24"
                 stroke-width="1.5"
                 stroke="currentColor"
                 class="w-6 h-6 my-2 mx-1">
                <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 10.5V6.75a4.5 4.5 0 10-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 002.25-2.25v-6.75a2.25 2.25 0 00-2.25-2.25H6.75a2.25 2.25 0 00-2.25 2.25v6.75a2.25 2.25 0 002.25 2.25z" />
            </svg>
        </div>
        <div class="col-span-11 sm:col-span-9">
            <input type="password" class="w-full pl-9 py-2 bg-form-l dark:bg-form-d autofill:bg-form-l dark:autofill:bg-form-d rounded-full border-none focus:ring-0" placeholder="Confirm password">
        </div>
    </div>
    <p class="text-red-600 text-center">The passwords are not the same!/Your new password cannot be the same as your current password</p>
    <div class="mx-3 flex justify-center">
        <button type="submit" class="w-1/2 py-2 text-white font-medium bg-green-l rounded-full  hover:bg-green-hov focus:ring-3  focus:ring-green-hov dark:bg-green-d dark:hover:bg-green-hov dark:focus:ring-green-hov">
            Reset password
        </button>
    </div>
    </div>
</div>
{% endblock %}