{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load static tailwind_tags %}
{% block searchbar %}{% endblock %}
{% block content %}
    <!-- search bar -->
    <div x-data="infinityScroll()" x-init="getUrl()">
        <form @submit.prevent
              @input.debounce="getUrl();clearItems();loader=true"
              @click.away="open = false"
              class="w-1/2 mx-auto mb-16 flex flex-col gap-4 md:sm:gap-2 ">
            <div @click="open = true" class="grid grid-cols-12 md:grid-cols-10 gap-0">
                <div class="col-span-11 md:col-span-8">
                    {% render_field product_filter.form.name x-model="product_name" type="search" class="w-full h-12 px-3 bg-form-l dark:bg-form-d rounded-l-full placeholder:text-lg border-none focus:ring-0" placeholder="Search..." %}
                </div>
                <div class="col-span-1 md:col-span-2">
                    <button class="w-full flex justify-center pt-3 pr-2 h-12 text-sm font-medium text-green-hov bg-form-l rounded-r-full focus:outline-0 dark:bg-form-d group">
                        <svg class="w-6 h-6 mx-2 group-hover:scale-110 duration-200 ease-in-out"
                             xmlns="http://www.w3.org/2000/svg"
                             fill="none"
                             viewBox="0 0 24 24"
                             stroke-width="1.5"
                             stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                        </svg>
                    </button>
                </div>
            </div>
            <div class="grid grid-cols-3 sm:grid-cols-1 md:grid-cols-1 gap-3"
                 x-show="open"
                 x-cloak
                 x-transition:enter="transition ease-out origin-top duration-200"
                 x-transition:enter-start="opacity-0 transform scale-90"
                 x-transition:enter-end="opacity-100 transform scale-100"
                 x-transition:leave="transition origin-top ease-in duration-100"
                 x-transition:leave-start="opacity-100 transform scale-100"
                 x-transition:leave-end="opacity-0 transform scale-90">
                <div class="flex flex-col gap-2">
                    <label for="">Tags</label>
                    <input type="text"
                           placeholder="Select..."
                           class="w-full bg-form-l dark:bg-form-d rounded-full placeholder:text-lg border-none focus:ring-0">
                </div>
                <div class="flex flex-col gap-2">
                    <label for="">Account</label>
                    <input type="text"
                           placeholder="Select..."
                           class="w-full bg-form-l dark:bg-form-d rounded-full placeholder:text-lg border-none focus:ring-0">
                </div>
                <div class="flex flex-col gap-2">
                    <label for="">Category</label>
                    <input type="text"
                           placeholder="Select..."
                           class="w-full bg-form-l dark:bg-form-d rounded-full placeholder:text-lg border-none focus:ring-0">
                </div>
            </div>
        </form>
        <!-- content -->
        <div class="w-4/5 flex justify-between mb-8 mx-auto">
            <h2 class="text-4xl font-semibold">Products</h2>
            <div class="flex justify-between">
                <select name=""
                        class="rounded-full bg-form-l dark:bg-form-d border-none focus:ring-0 space-y-2">
                    <option value="">
                        Today
                    </option>
                    <option value="">
                        This week
                    </option>
                    <option value="">
                        This month
                    </option>
                    <option selected value="">
                        All time
                    </option>
                </select>
            </div>
        </div>
        <div class="w-4/5 flex flex-col mb-8 mx-auto">
            <div class="grid grid-cols-4 sm:grid-cols-1 md:grid-cols-2 gap-5">
                <template x-for="product in products">
                    <div class="h-80 flex flex-col overflow-hidden">
                        <a x-bind:href="`${product.owner_slug}/${product.slug}`" href="" class="shadow-md rounded-lg bg-blend-normal h-3/4">
                            <img x-bind:src="product.main_image"
                                 src=""
                                 alt="picture"
                                 class="w-full h-full object-cover rounded-lg object-center">
                        </a>
                        <div class="flex flex-row justify-between items-center">
                            <a href=""
                               x-bind:href="`${product.owner_slug}/${product.slug}`"
                               x-text="product.name"
                               class="text-lg font-semibold hover:text-green-hov"></a>
                            <p x-text="product.price + ' zł'" class="flex-none"></p>
                        </div>
                        <div class="flex flex-row justify-between items-center text-gray-700 dark:text-gray-400">
                            <a href=""
                               x-bind:href="product.owner_slug"
                               x-text="product.owner"
                               class="hover:text-green-hov duration-100 transition-all truncate"></a>
                            <p x-text="product.date" class="flex-none"></p>
                        </div>
                    </div>
                </template>
            </div>
            <div x-show="loader"
                 x-intersect.half="getItems()"
                 class="flex self-center gap-3 font-bold text-3xl my-auto">
                <h1>Loading</h1>
                <svg class="animate-spin h-7 w-7 text-white"
                     xmlns="http://www.w3.org/2000/svg"
                     fill="none"
                     viewBox="0 0 24 24">
                    <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                    <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
                    </path>
                </svg>
            </div>
        </div>
    </div>
{% endblock content %}
{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/infiniteScroll.js' %}"></script>
{% endblock scripts %}
