{% extends 'base.html' %}
{% load static tailwind_tags %}
{% load static %}
{% block title %}Wildcat{% endblock %}
{% block content %}
<div class="flex justify-center h-full mb-10">
    <div class="w-4/5 sm:w-11/12 p-5 bg-con-l dark:bg-con-d rounded-lg">
        <h1 class="text-xl mb-6">Sell an item</h1> 
        <div class="grid grid-rows-2 mb-6 w-1/2 mx-auto">
            <label for="title" class="text-[#262626] dark:text-[#cccccc] my-auto">Title</label>
            <input type="text" id="title" class="bg-con-l dark:bg-con-d border border-slate-900/10 dark:border-slate-300/10 focus:bg-form-l focus:dark:bg-form-d rounded-xl focus:border-none focus:ring-green-hov">
        </div>
        <div class="grid grid-rows-2 mb-6 w-1/2 mx-auto">
            <label for="description" class="text-[#262626] dark:text-[#cccccc] my-auto">Description</label>
            <input type="text" id="description" class="bg-con-l dark:bg-con-d border border-slate-900/10 dark:border-slate-300/10 focus:bg-form-l focus:dark:bg-form-d rounded-xl focus:border-none focus:ring-green-hov">
        </div>
        <div class="grid grid-rows-4 mb-6 w-1/2 mx-auto">
            <p class="text-[#262626] dark:text-[#cccccc] row-span-1">Add up to 1 photo</p>
            <div class="flex justify-center items-center border border-slate-900/10 dark:border-slate-300/10 rounded-xl row-span-3">
                <input type="file" class="px-11">
            </div>
        </div>
    </div>
</div>
{% endblock %}