<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
{% load static %}
<body style="display: grid; justify-content: center; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
    <div style="display: flex; justify-content: center; align-items: center;">
        <img src="{% static 'img/wildcat-logo-light.svg' %}">
        <h1 style="display: flex; justify-content: center; align-items: center; font-size: 36px; font-weight: 600; margin-top: auto; margin-bottom: auto; margin-left: 8px;">
            <p style="color: rgb(106, 169, 59);">WILD</p>
            CAT
        </h1>
    </div>
    <h1>Hello, {{ account.username }}</h1>
    <p style="text-align: center;">A request has been received to change the password for your account</p>
    <a href="" target="_blank" style="margin-left: auto; margin-right: auto;"><button style="padding-top: 8px; padding-bottom: 8px; color: white; background-color: rgb(106, 169, 59); cursor: pointer; border: 0px; border-radius: 8px;">Reset Password</button></a>
    <p style="text-align: center;">If you didn't request a password reset, you can ignore this mail. Your password will not be changed.</p>
</body>
</html>