<div class="" x-data="{clear: false}">
    <div class="items-center" :class="clear && 'blur-sm'">
        <span class="h-full overflow-hidden bg-gray-100 mr-2">
            {% if widget.is_initial %}
                <img class="mr-3" src="{{ widget.value.url }}" alt="{{ widget.value }}">
            {% else %}
            <div class="inline-flex">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                </svg>
                <p>Add photo</p>
            </div>
            {% endif %}
        </span>
        <label for="{{ widget.name }}"
               class="mt-0 relative cursor-pointer bg-white rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus-within:outline-none focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-indigo-500">
            <input class="hidden w-full h-full"
                   type="{{ widget.type }}"
                   name="{{ widget.name }}"
                   {% include "django/forms/widgets/attrs.html" %}>
        </label>
    </div>
    {% if not widget.required %}
        <div class="flex flex-row mt-2 px-2" x-show="clear">
            <label class="mt-0 mr-2" for="{{ widget.checkbox_id }}">Remove Profile Photo</label>
            <input x-model="clear"
                   type="checkbox"
                   name="{{ widget.checkbox_name }}"
                   id="{{ widget.checkbox_id }}"
                   {% if widget.attrs.disabled %} disabled{% endif %}>
        </div>
    {% endif %}
</div>
